<div data-role="footer" class="ui-bar" data-id="footer" data-position="fixed" data-tap-toggle="false">
	<a href="{% url mobile:home %}" data-icon="home" data-iconpos="notext"></a>
</div>

<div data-role="popup" id="popupPanel" data-corners="false" data-theme="none" data-shadow="false" data-tolerance="0,0">
    <a href="{% url mobile:expenses %}" data-role="button" data-theme="a" data-mini="true">Gastos</a>
    <a href="{% url mobile:loans %}" data-role="button" data-theme="a" data-mini="true">Pr&eacute;stamos</a>
    <a href="{% url mobile:tax %}" data-role="button" data-theme="a" data-mini="true">Impuestos</a>
</div>