<!DOCTYPE HTML>
<html>
<head>
{% block header %}
<title>{{settings.APPLICATION}} Mobile</title>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/{{settings.MOBILE_VERSION}}/jquery.mobile-{{settings.MOBILE_VERSION}}.min.css" />
<link media="screen" href="{{ STATIC_URL }}mobile/mobile.extra.css" type="text/css" rel="stylesheet" />
<!--link media="screen" href="{{ STATIC_URL }}android/android-theme.css" type="text/css" rel="stylesheet" /-->
<link media="screen" href="{{ STATIC_URL }}mobile/jquery.mobile.datebox.min.css" type="text/css" rel="stylesheet" />
<link media="screen" href="{{ STATIC_URL }}mobile/jquery.mobile.simpledialog.min.css" type="text/css" rel="stylesheet" />
<link media="screen" href="{{ STATIC_URL }}mobile/jquery.mobile.notify.css" type="text/css" rel="stylesheet" />
<link media="screen" href="{{ STATIC_URL }}mobile/swipe.css" type="text/css" rel="stylesheet" />
<link media="screen" href="{{ STATIC_URL }}mobile/default.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/{{settings.JQUERY_VERSION}}/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}mobile/functions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}mobile/swipe.list.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}mobile/application.js"></script>
<script type="text/javascript" src="http://code.jquery.com/mobile/{{settings.MOBILE_VERSION}}/jquery.mobile-{{settings.MOBILE_VERSION}}.min.js"></script>
<!--script type="text/javascript" src="{{ STATIC_URL }}android/jquery.mobile.android-theme.js"></script-->
<script type="text/javascript" src="{{ STATIC_URL }}mobile/jquery.mobile.datebox.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}mobile/jquery.mobile.datebox.i8n.es.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}mobile/jquery.mobile.simpledialog.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}mobile/jquery.mobile.notify.js"></script>
{% endblock %}
</head>
<body>
{% block content %}
<div data-role="page" id="main">

	<div data-role="header">
		<h1>Cash for Mobile v{{settings.MOBILE_VERSION}}</h1>
		<a href="{% url auth_logout %}" data-icon="delete" data-iconpos="notext" class="ui-btn-right" data-ajax="false">Logout</a>
	</div><!-- /header -->

	<div data-role="content">
		<ul data-role="listview" data-inset="true">
        	<li data-icon="false">
        		<a href="{% url mobile:expenses %}" data-prefetch>
        			<div class="menu-element expense"><div>Gastos</div></div>
        		</a>
        	</li>
        	<li data-icon="false">
        		<a href="{% url mobile:loans %}">
        			<div class="menu-element loan"><div>Pr&eacute;stamos</div></div>
        		</a>
        	</li>
        	<li data-icon="false">
        		<a href="{% url mobile:tax %}">
        			<div class="menu-element tax"><div>Impuestos</div></div>
        		</a>
        	</li>          
        </ul>		
	</div><!-- /content -->

</div><!-- /page -->
{% endblock %}
</body>
</html>
